* {
    font-family: "Roboto", sans-serif;
}


.navbar {
    width: inherit;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.navLogo {
    color: #F9FAF8;
    font-size: 24px;
}

.navItem {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.navItem > li {
    color: #E5E7EB;
    font-size: 18px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.hero-container {
    height: 50vh;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.hero-text {
    position: relative;
    left: 80px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}

.hero-cta {
    position: relative;
    left: 5px;
}

.hero-cta > button {

    height: 30px;
    width: 100px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 150px;
    height: 230px;
    width: 450px;
    border: 2px solid black;
    background-color: grey;
}

.hero-image-placeholder {
    color: white;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.hero2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: inherit;
}

.hero2-text{
    color: #1F2937;
    font-size: 38px;
    font-weight: 900;
}

.hero2-main-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

.hero2-image-text-container{
    width: 130px;
}

.hero2-image {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 11px;
}


.image-subtext{
    margin-top: 7px;
    font-size: 18px;
    font-weight: normal;
}
